:root {
  --clr-primary-400: #fba834;
  --clr-accent-600: #333a73;

  --clr-neutral-100: #ffffff;
  --clr-neutral-300: #f5f5f5;
  --clr-neutral-900: #000000;

  --large-brakepoint: 1160px;
  --small-brakepoint: 768px;
}
