/*  GENERAL */
@import "css/reset.css";
@import "css/variables.css";

/*  UTILS */
@import "css/utils/layout.utils.css";
@import "css/utils/spacing.utils.css";
@import "css/utils/typography.utils.css";
@import "css/utils/flex-grid.utils.css";

/*  COMPONENTS (UI) */
@import "css/components/card.component.css";
@import "css/components/reel.component.css";

/*  Specific to this project */

body {
  background-color: var(--clr-neutral-300);
}

.logo a {
  text-transform: uppercase;
  color: var(--brand-color);
  font-weight: 700;
}

.main-nav {
  /* --brand-color: black; */
  background-color: var(--clr-accent-600);
  color: var(--clr-neutral-100);
  display: flex;
  justify-content: space-between;
  padding-inline: var(--page-padding);
  padding-block: 16px;
}

.main-nav ul {
  display: flex;
  gap: 16px;
}

.articles-and-aside {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}
